.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "header header" "leftColumn rightColumn";
  }
  
  .header { grid-area: header; }
  
  .leftColumn { grid-area: leftColumn; }
  
  .rightColumn { grid-area: rightColumn; }